.new-file-renamer-rules-table {
    width: 100%;
}

.new-file-renamer-rules-table th {
    padding: 8px;
    border-bottom: 1px solid var(--background-modifier-border);
}

.new-file-renamer-rules-table td input[type="text"] {
    width: 100%;
}